
span.StrongEmphasisItalic {
font-style:italic;
font-weight:700;
}

span.Footnoteanchor {
font-size:58%;
vertical-align:super;
}

span.Internetlink {
color:#00f;
}

span.FootnoteSymbol {
}

span.Emphasis {
font-style:italic;
}

span.NoFormat {
font-style:normal;
font-weight:400;
}

span.StrongerEmphasis {
font-weight:700;
text-decoration:underline;
}

span.StrongEmphasis {
font-weight:700;
}

a:link {
color:inherit;
text-decoration:none;
}

a:visited {
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
color:maroon;
text-decoration:none;
}

a.Internet20link:link {
color:navy;
text-decoration:none;
}

a.Internet20link:visited {
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
color:maroon;
text-decoration:none;
}

p.MyList {
margin-left:0;
margin-right:0;
margin-top:.167717rem;
margin-bottom:.167717rem;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

p.DefinitionTerm {
margin-left:0;
margin-right:0;
margin-top:.354331rem;
margin-bottom:.115748rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-weight:700;
font-size:.916667rem;
}

p.TableCaption {
margin-left:0;
margin-right:0;
margin-top:.354331rem;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-style:italic;
font-weight:400;
font-size:.916667rem;
}

p.Title {
margin-left:0;
margin-right:0;
margin-top:2.362205rem;
margin-bottom:4.72441rem;
border:none;
padding:0;
text-align:center;
font-family:'DejaVu Sans Light',sans-serif;
font-weight:700;
font-size:2rem;
}

p.Heading1NoNum {
page-break-before:always;
margin-left:0;
margin-right:0;
margin-top:2rem;
margin-bottom:.470079rem;
border-top:none;
border-bottom:.0425rem solid #000;
border-left:none;
border-right:none;
padding-top:.115748rem;
padding-bottom:.238583rem;
padding-left:.115748rem;
padding-right:.115748rem;
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:1.666667rem;
}

p.Heading1FBMatter {
page-break-before:always;
margin-left:0;
margin-right:0;
margin-top:2rem;
margin-bottom:.470079rem;
border-top:none;
border-bottom:.0425rem solid #000;
border-left:none;
border-right:none;
padding-top:.115748rem;
padding-bottom:.238583rem;
padding-left:.115748rem;
padding-right:.115748rem;
text-align:right;
font-family:'DejaVu Serif',serif;
font-size:1.666667rem;
}

p.TitlePageBody {
margin-left:0;
margin-right:0;
margin-top:4.249607rem;
margin-bottom:4.249607rem;
border:none;
padding:0;
text-indent:0;
text-align:center;
font-family:'DejaVu Serif',serif;
font-size:1rem;
}

p.GenericNoIndent {
margin-left:0;
margin-right:0;
margin-top:.359055rem;
margin-bottom:.359055rem;
border:none;
padding:0;
text-indent:0;
text-align:justify;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

p.Firstparagraph {
margin-left:0;
margin-right:0;
margin-top:.354331rem;
margin-bottom:.354331rem;
border:none;
padding:0;
text-indent:0;
text-align:justify;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

p.TableContents {
margin-left:0;
margin-right:0;
margin-top:0;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-size:.916667rem;
}

p.Textbody {
margin-left:0;
margin-right:0;
margin-top:.359055rem;
margin-bottom:.359055rem;
border:none;
padding:0;
text-indent:.944882rem;
text-align:justify;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

p.TableHeading {
margin-left:0;
margin-right:0;
margin-top:0;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:center;
font-family:'DejaVu Serif Condensed',serif;
font-weight:400;
font-size:.916667rem;
}

p.Footnote {
margin-left:1.17874rem;
margin-right:0;
margin-top:0;
margin-bottom:0;
border:none;
padding-top:.354331rem;
padding-bottom:0;
padding-left:.115748rem;
padding-right:0;
text-indent:-1.17874rem;
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:.75rem;
}

p.Contents3 {
margin-left:1.892126rem;
margin-right:0;
margin-top:.238583rem;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-size:.8rem;
}

p.Heading3NoNum {
margin-left:0;
margin-right:0;
margin-top:.992126rem;
margin-bottom:.496063rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:1.166667rem;
}

p.Contents2 {
margin-left:.944882rem;
margin-right:0;
margin-top:.238583rem;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-size:.9rem;
}

p.Contents1 {
margin-left:0;
margin-right:0;
margin-top:.238583rem;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-weight:700;
font-size:1rem;
}

p.Heading2NoNum {
margin-left:0;
margin-right:0;
margin-top:.999213rem;
margin-bottom:.500787rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:1.25rem;
}

p.TitleResources {
margin-left:0;
margin-right:0;
margin-top:4.3rem;
margin-bottom:0;
border:none;
padding:0;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

p.DefinitionDefinition {
margin-left:1.17874rem;
margin-right:0;
margin-top:0;
margin-bottom:.354331rem;
border:none;
padding:0;
text-indent:0;
text-align:justify;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

p.Quotations {
margin-left:1.4rem;
margin-right:0;
margin-top:.354331rem;
margin-bottom:.354331rem;
border:none;
padding:0;
text-indent:0;
text-align:justify;
font-family:'DejaVu Serif',serif;
font-style:italic;
font-size:.916667rem;
}

p.Standard {
margin-left:0;
margin-right:0;
margin-top:.354331rem;
margin-bottom:.354331rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

h1 {
margin-left:0;
margin-right:0;
margin-top:2rem;
margin-bottom:.470079rem;
border-top:none;
border-bottom:.0425rem solid #000;
border-left:none;
border-right:none;
padding-top:.115748rem;
padding-bottom:.238583rem;
padding-left:.115748rem;
padding-right:.115748rem;
text-align:right;
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.666667rem;
clear:left;
}

h1.ContentsHeading {
margin-left:0;
margin-right:0;
margin-top:2rem;
margin-bottom:.9448819rem;
border-top:none;
border-bottom:.0425rem solid #000;
border-left:none;
border-right:none;
padding:.11574804rem;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.666667rem;
clear:left;
}

h2 {
margin-left:0;
margin-right:0;
margin-top:.999213rem;
margin-bottom:.500787rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:1.25rem;
clear:left;
}

h3 {
margin-left:0;
margin-right:0;
margin-top:.999213rem;
margin-bottom:.500787rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.166667rem;
clear:left;
}

h4 {
margin-left:0;
margin-right:0;
margin-top:.999213rem;
margin-bottom:.500787rem;
border:none;
padding:0;
text-align:left;
font-family:'DejaVu Serif',serif;
font-style:italic;
font-weight:400;
font-size:1rem;
clear:left;
}

hr.footnoterule {
margin-top:2rem;
margin-bottom:.238583rem;
height:.02126rem;
width:25%;
color:#000;
background-color:#000;
margin-left:0;
margin-right:auto;
}

col.c430 {
width:auto;
}

col.c429 {
width:auto;
}

col.c428 {
width:auto;
}

table.c427 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 27em;
}

td.c426 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:#DDD;
vertical-align:middle;
}

td.c425 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
background-color:#DDD;
vertical-align:middle;
}

td.c424 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
background-color:#DDD;
vertical-align:middle;
}

td.c423 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c422 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c421 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:#DDD;
vertical-align:middle;
}

td.c420 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
background-color:#DDD;
vertical-align:middle;
}

td.c419 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
background-color:#DDD;
vertical-align:middle;
}

td.c418 {
border-top:.041667rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c417 {
border-top:.041667rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c416 {
border-top:.041667rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c415 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

col.c414 {
width:auto;
}

col.c413 {
width:auto;
}

col.c412 {
width:auto;
}

col.c411 {
width:auto;
}

td.c410 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c409 {
border-top:none;
border-bottom:none;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c408 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c407 {
border:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

col.c406 {
width:auto;
}

col.c405 {
width:auto;
}

p.c404 {
text-align:center;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:.916667rem;
color:#000;
text-shadow:none;
text-decoration:none;
}

p.c403 {
text-align:left;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:.916667rem;
color:#000;
text-shadow:none;
text-decoration:none;
}

col.c402 {
width:auto;
}

col.c401 {
width:auto;
}

col.c400 {
width:auto;
}

col.c399 {
width:auto;
}

col.c398 {
width:auto;
}

col.c397 {
width:auto;
}

h2.c396 {
text-align:left;
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.25rem;
}

p.c395 {
text-align:left;
font-weight:700;
}

h3.c394 {
text-align:left;
font-family:'DejaVu Serif',serif;
font-weight:400;
}

col.c393 {
width:auto;
}

col.c392 {
width:auto;
}

td.c391 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c390 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c389 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c388 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:.041667rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c387 {
border-top:none;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c386 {
border-top:none;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c385 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c384 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c383 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c382 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

td.c381 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:.041667rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c380 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c379 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.125rem solid #000;
border-right:.041667rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

col.c378 {
width:auto;
}

col.c377 {
width:auto;
}

col.c376 {
width:auto;
}

td.c375 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:top;
}

p.c374 {
margin-left:4.962993rem;
margin-right:0;
margin-top:0;
margin-bottom:0;
background-color:transparent;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-size:.916667rem;
}

p.c373 {
margin-left:1.417323rem;
margin-right:1.417323rem;
margin-top:0;
margin-bottom:0;
background-color:transparent;
text-indent:-.708661rem;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-size:.916667rem;
}

td.c372 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:top;
}

p.c371 {
margin-left:.944882rem;
margin-right:0;
margin-top:0;
margin-bottom:0;
background-color:transparent;
text-indent:0;
text-align:left;
font-family:'DejaVu Serif Condensed',serif;
font-size:.916667rem;
}

td.c370 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:middle;
}

p.c369 {
text-align:center;
font-family:'DejaVu Serif Condensed',serif;
font-size:.916667rem;
}

td.c368 {
border:.125rem solid #000;
padding:.238583rem;
vertical-align:middle;
}

td.c367 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
vertical-align:middle;
}

td.c366 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:middle;
}

td.c365 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:middle;
}

span.c364 {
font-family:'DejaVu Serif Condensed',serif;
font-weight:400;
font-size:.916667rem;
}

col.c363 {
width:auto;
}

col.c362 {
width:auto;
}

col.c361 {
width:auto;
}

col.c360 {
width:auto;
}

p.c359 {
text-align:left;
text-decoration:underline;
}

h1.c358 {
page-break-before:always;
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.666667rem;
}

span.c357 {
font-family:'DejaVu Serif',serif;
font-weight:400;
}

table.c356 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 23em;
}

td.c355 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
background-color:#DDD;
vertical-align:top;
}

td.c354 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
background-color:#DDD;
vertical-align:top;
}

td.c353 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:top;
}

td.c352 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
vertical-align:top;
}

td.c351 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
background-color:#DDD;
vertical-align:top;
}

td.c350 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
background-color:#DDD;
vertical-align:top;
}

td.c349 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:top;
}

td.c348 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
vertical-align:top;
}

td.c347 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
vertical-align:top;
}

td.c346 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
vertical-align:top;
}

col.c345 {
width:auto;
}

col.c344 {
width:auto;
}

table.c343 {
background-color:transparent;
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 43em;
}

td.c342 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:.041667rem solid #000;
padding:.044882rem;
vertical-align:middle;
}

td.c341 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.044882rem;
vertical-align:middle;
}

td.c340 {
border:.041667rem solid #000;
padding:.044882rem;
background-color:#DDD;
vertical-align:middle;
}

td.c339 {
border-top:.041667rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.044882rem;
background-color:#DDD;
vertical-align:middle;
}

col.c338 {
width:auto;
}

col.c337 {
width:auto;
}

col.c336 {
width:auto;
}

h3.c335 {
font-family:'DejaVu Serif',serif;
}

col.c334 {
width:auto;
}

col.c333 {
width:15em;
}

col.c332 {
width:18em;
}

col.c331 {
width:18em;
}

col.c330 {
width:7em;
}

col.c329 {
width:18em;
}

col.c328 {
width:7em;
}

col.c327 {
width:18em;
}

col.c326 {
width:auto;
}

col.c325 {
width:18em;
}

col.c324 {
width:auto;
}

col.c323 {
width:18em;
}

col.c322 {
width:auto;
}

col.c321 {
width:auto;
}

col.c320 {
width:auto;
}

col.c319 {
width:7em;
}

col.c318 {
width:18em;
}

col.c317 {
width:auto;
}

col.c316 {
width:7em;
}

col.c315 {
width:18em;
}

col.c314 {
width:auto;
}

col.c313 {
width:7em;
}

col.c312 {
width:18em;
}

td.c311 {
border:none;
padding:0;
vertical-align:middle;
}

col.c310 {
width:auto;
}

col.c309 {
width:7em;
}

col.c308 {
width:auto;
}

col.c307 {
width:7em;
}

col.c306 {
width:18em;
}

col.c305 {
width:7em;
}

col.c304 {
width:18em;
}

col.c303 {
width:7em;
}

col.c302 {
width:18em;
}

col.c301 {
width:auto;
}

col.c300 {
width:18em;
}

p.c299 {
font-size:.875rem;
}

col.c298 {
width:auto;
}

col.c297 {
width:7em;
}

col.c296 {
width:auto;
}

col.c295 {
width:7em;
}

col.c294 {
width:18em;
}

table.c293 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 37em;
}

col.c292 {
width:auto;
}

col.c291 {
width:7em;
}

col.c290 {
width:18em;
}

col.c289 {
width:auto;
}

col.c288 {
width:7em;
}

col.c287 {
width:18em;
}

col.c286 {
width:7em;
}

col.c285 {
width:18em;
}

table.c284 {
background-color:transparent;
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 37em;
}

col.c283 {
width:auto;
}

col.c282 {
width:7em;
}

col.c281 {
width:18em;
}

table.c280 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 37em;
}

col.c279 {
width:auto;
}

col.c278 {
width:7em;
}

col.c277 {
width:18em;
}

table.c276 {
background-color:transparent;
margin-top:0;
margin-bottom:0;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 35em;
}

col.c275 {
width:auto;
}

col.c274 {
width:7em;
}

col.c273 {
width:18em;
}

table.c272 {
background-color:transparent;
margin-top:0;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 35em;
}

col.c271 {
width:auto;
}

col.c270 {
width:7em;
}

col.c269 {
width:18em;
}

p.c268 {
text-align:left;
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

col.c267 {
width:auto;
}

col.c266 {
width:7em;
}

col.c265 {
width:18em;
}

table.c264 {
background-color:transparent;
margin-top:0;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 35em;
}

td.c263 {
border:none;
padding:0;
background-color:transparent;
vertical-align:top;
}

col.c262 {
width:auto;
}

col.c261 {
width:7em;
}

col.c260 {
width:18em;
}

col.c259 {
width:auto;
}

col.c258 {
width:7em;
}

col.c257 {
width:18em;
}

table.c256 {
margin-top:0;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 35em;
}

p.c255 {
font-size:.833333rem;
}

col.c254 {
width:auto;
}

col.c253 {
width:7em;
}

col.c252 {
width:18em;
}

td.c251 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c250 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c249 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c248 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

col.c247 {
width:auto;
}

col.c246 {
width:auto;
}

h4.c245 {
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1rem;
}

col.c244 {
width:auto;
}

col.c243 {
width:auto;
}

col.c242 {
width:auto;
}

col.c241 {
width:auto;
}

table.c240 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 31em;
}

td.c239 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

col.c238 {
width:auto;
}

col.c237 {
width:auto;
}

col.c236 {
width:auto;
}

table.c235 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 19em;
}

td.c234 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:top;
}

td.c233 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:top;
}

td.c232 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

col.c231 {
width:auto;
}

col.c230 {
width:auto;
}

table.c229 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 19em;
}

td.c228 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:top;
}

td.c227 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

td.c226 {
border-top:none;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:top;
}

td.c225 {
border-top:none;
border-bottom:none;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

td.c224 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:middle;
}

td.c223 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

td.c222 {
border-top:.125rem solid #000;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

col.c221 {
width:auto;
}

col.c220 {
width:auto;
}

col.c219 {
width:auto;
}

td.c218 {
border-top:none;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:.041667rem solid #000;
padding:.115748rem;
vertical-align:top;
}

td.c217 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:.041667rem solid #000;
padding:.115748rem;
vertical-align:top;
}

p.c216 {
text-align:center;
font-family:'DejaVu Serif',serif;
letter-spacing:-.025984rem;
}

col.c215 {
width:auto;
}

p.c214 {
text-align:center;
font-size:.833333rem;
}

col.c213 {
width:auto;
}

col.c212 {
width:auto;
}

col.c211 {
width:auto;
}

col.c210 {
width:auto;
}

col.c209 {
width:auto;
}

td.c208 {
border:none;
padding:0;
vertical-align:top;
}

td.c207 {
border-top:none;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

td.c206 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

col.c205 {
width:auto;
}

col.c204 {
width:auto;
}

col.c203 {
width:auto;
}

col.c202 {
width:auto;
}

col.c201 {
width:auto;
}

table.c200 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 11em;
}

td.c199 {
border-top:none;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:top;
}

td.c198 {
border-top:none;
border-bottom:none;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c197 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:top;
}

td.c196 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c195 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:middle;
}

td.c194 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:middle;
}

col.c193 {
width:auto;
}

col.c192 {
width:auto;
}

col.c191 {
width:auto;
}

col.c190 {
width:auto;
}

col.c189 {
width:auto;
}

col.c188 {
width:auto;
}

col.c187 {
width:auto;
}

col.c186 {
width:auto;
}

td.c185 {
border-top:none;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:none;
padding:0;
vertical-align:top;
}

td.c184 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:0;
vertical-align:top;
}

col.c183 {
width:auto;
}

col.c182 {
width:auto;
}

col.c181 {
width:auto;
}

col.c180 {
width:auto;
}

span.c179 {
font-family:'DejaVu Serif',serif;
}

li.c178 {
list-style-type:none;
}

ul.c177 {
margin-top:0;
margin-bottom:0;
list-style-type:circle;
clear:left;
}

td.c176 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

td.c175 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

td.c174 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
background-color:#DDD;
vertical-align:top;
}

td.c173 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:top;
}

td.c172 {
border:none;
padding:.115748rem;
vertical-align:top;
}

col.c171 {
width:auto;
}

col.c170 {
width:auto;
}

table.c169 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 27em;
}

td.c168 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

col.c167 {
width:auto;
}

col.c166 {
width:auto;
}

table.c165 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 19em;
}

col.c164 {
width:auto;
}

col.c163 {
width:auto;
}

col.c162 {
width:auto;
}

table.c161 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 25em;
}

td.c160 {
border:none;
padding:.229134rem;
vertical-align:middle;
}

col.c159 {
width:auto;
}

col.c158 {
width:auto;
}

col.c157 {
width:auto;
}

col.c156 {
width:auto;
}

td.c155 {
border-top:none;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c154 {
border-top:none;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:none;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c153 {
border-top:none;
border-bottom:.041667rem dashed #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c152 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c151 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c150 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c149 {
border-top:.125rem solid #000;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c148 {
border-top:.125rem solid #000;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:none;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

td.c147 {
border-top:.125rem solid #000;
border-bottom:.041667rem dashed #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
background-color:transparent;
vertical-align:top;
}

col.c146 {
width:auto;
}

col.c145 {
width:auto;
}

col.c144 {
width:auto;
}

td.c143 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:#DDD;
vertical-align:middle;
}

td.c142 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
background-color:#DDD;
vertical-align:middle;
}

td.c141 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
background-color:#DDD;
vertical-align:middle;
}

td.c140 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c139 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c138 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c137 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:#DDD;
vertical-align:middle;
}

td.c136 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
background-color:#DDD;
vertical-align:middle;
}

td.c135 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
background-color:#DDD;
vertical-align:middle;
}

td.c134 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c133 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c132 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
background-color:transparent;
vertical-align:middle;
}

td.c131 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:middle;
}

td.c130 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

span.c129 {
font-weight:400;
}

td.c128 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:none;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

td.c127 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:none;
border-right:.125rem solid #000;
padding:.115748rem;
vertical-align:middle;
}

td.c126 {
border-top:.125rem solid #000;
border-bottom:none;
border-left:.125rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

col.c125 {
width:auto;
}

col.c124 {
width:auto;
}

col.c123 {
width:auto;
}

h1.c122 {
page-break-before:always;
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.666667rem;
}

td.c121 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
background-color:#DDD;
vertical-align:top;
}

td.c120 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

col.c119 {
width:auto;
}

col.c118 {
width:auto;
}

col.c117 {
width:auto;
}

col.c116 {
width:auto;
}

col.c115 {
width:auto;
}

table.c114 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 11em;
}

col.c113 {
width:auto;
}

col.c112 {
width:auto;
}

col.c111 {
width:auto;
}

table.c110 {
background-color:transparent;
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 19em;
}

col.c109 {
width:auto;
}

col.c108 {
width:auto;
}

col.c107 {
width:auto;
}

table.c106 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 19em;
}

col.c105 {
width:auto;
}

col.c104 {
width:auto;
}

col.c103 {
width:auto;
}

span.c102 {
font-size:58%;
vertical-align:super;
}

p.c101 {
text-align:right;
}

td.c100 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
vertical-align:middle;
}

td.c99 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
vertical-align:middle;
}

td.c98 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
background-color:#DDD;
vertical-align:middle;
}

td.c97 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
vertical-align:middle;
}

td.c96 {
border:none;
padding:.238583rem;
vertical-align:middle;
}

p.c95 {
margin-top:0;
margin-bottom:0;
text-align:center;
}

col.c94 {
width:auto;
}

col.c93 {
width:auto;
}

col.c92 {
width:auto;
}

table.c91 {
background-color:transparent;
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 11em;
}

col.c90 {
width:auto;
}

col.c89 {
width:auto;
}

ol.c88 {
margin-top:0;
margin-bottom:0;
list-style-type:decimal;
clear:left;
}

p.c87 {
text-align:justify;
}

td.c86 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

td.c85 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:.041667rem solid #000;
padding:.115748rem;
vertical-align:middle;
}

td.c84 {
border:none;
padding:.115748rem;
vertical-align:middle;
}

td.c83 {
border:.041667rem solid #000;
padding:.115748rem;
vertical-align:middle;
}

td.c82 {
border-top:.041667rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.115748rem;
vertical-align:middle;
}

col.c81 {
width:auto;
}

col.c80 {
width:auto;
}

col.c79 {
width:auto;
}

col.c78 {
width:auto;
}

table.c77 {
background-color:transparent;
margin-top:0;
margin-bottom:0;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 23em;
}

td.c76 {
border:none;
padding-top:0;
padding-bottom:0;
padding-left:1.17874rem;
padding-right:0;
background-color:transparent;
vertical-align:bottom;
}

table.c75 {
margin-top:0;
margin-bottom:0;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 23em;
}

p.c74 {
text-align:left;
}

td.c73 {
border:none;
padding-top:0;
padding-bottom:0;
padding-left:1.17874rem;
padding-right:0;
vertical-align:bottom;
}

col.c72 {
width:auto;
}

h3.c71 {
font-family:'DejaVu Serif',serif;
font-weight:400;
}

h2.c70 {
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.25rem;
}

h1.c69 {
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:1.666667rem;
}

td.c68 {
border-top:none;
border-bottom:none;
border-left:.041667rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c67 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.041667rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c66 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

col.c65 {
width:auto;
}

col.c64 {
width:auto;
}

col.c63 {
width:auto;
}

col.c62 {
width:auto;
}

col.c61 {
width:auto;
}

table.c60 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 19em;
}

td.c59 {
border:none;
padding:.229134rem;
vertical-align:top;
}

td.c58 {
border:.041667rem solid #000;
padding:.229134rem;
vertical-align:top;
}

p.c57 {
text-align:center;
font-family:'DejaVu Serif',serif;
}

span.c56 {
font-family:'DejaVu Serif',serif;
font-weight:400;
font-size:.916667rem;
}

table.c55 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 23em;
}

td.c54 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
vertical-align:top;
}

td.c53 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
vertical-align:top;
}

td.c52 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
background-color:#DDD;
vertical-align:top;
}

td.c51 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
vertical-align:top;
}

td.c50 {
border:none;
padding:.238583rem;
vertical-align:top;
}

col.c49 {
width:auto;
}

col.c48 {
width:auto;
}

col.c47 {
width:auto;
}

table.c46 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 25em;
}

td.c45 {
border-top:none;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:top;
}

p.c44 {
margin:0;
font-size:1px;
}

td.c43 {
border-top:none;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c42 {
border-top:none;
border-bottom:.041667rem dashed #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c41 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:top;
}

td.c40 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c39 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

td.c38 {
border-top:.125rem solid #000;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:.125rem solid #000;
padding:.229134rem;
vertical-align:top;
}

td.c37 {
border-top:.125rem solid #000;
border-bottom:.041667rem dashed #000;
border-left:none;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

p.c36 {
text-align:center;
}

td.c35 {
border-top:.125rem solid #000;
border-bottom:.041667rem dashed #000;
border-left:.125rem solid #000;
border-right:none;
padding:.229134rem;
vertical-align:top;
}

col.c34 {
width:auto;
}

col.c33 {
width:auto;
}

col.c32 {
width:auto;
}

table.c31 {
background-color:transparent;
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 21em;
}

td.c30 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

td.c29 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

td.c28 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

td.c27 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

td.c26 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

td.c25 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

tr.c24 {
background-color:transparent;
}

td.c23 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:.125rem solid #000;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

p.c22 {
text-align:left;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:.916667rem;
text-shadow:none;
text-decoration:none;
}

td.c21 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:none;
border-right:none;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

td.c20 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:none;
padding:.238583rem;
background-color:transparent;
vertical-align:middle;
}

p.c19 {
text-align:right;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:.916667rem;
text-shadow:none;
text-decoration:none;
}

col.c18 {
width:auto;
}

col.c17 {
width:auto;
}

col.c16 {
width:auto;
}

table.c15 {
margin-top:.470079rem;
margin-bottom:.470079rem;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
max-width: 9em;
}

td.c14 {
border-top:none;
border-bottom:.125rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:transparent;
vertical-align:middle;
}

td.c13 {
border-top:none;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:transparent;
vertical-align:middle;
}

td.c12 {
border-top:.125rem solid #000;
border-bottom:.041667rem solid #000;
border-left:.125rem solid #000;
border-right:.125rem solid #000;
padding:.229134rem;
background-color:transparent;
vertical-align:middle;
}

p.c11 {
text-align:center;
font-family:'DejaVu Serif',serif;
font-style:normal;
font-weight:400;
font-size:.916667rem;
text-shadow:none;
text-decoration:none;
}

col.c10 {
width:auto;
}

ul.c9 {
list-style-type:none;
margin:0;
padding:0;
}

ul.c8 {
margin-top:0;
margin-bottom:0;
list-style-type:disc;
clear:left;
}

p.c7 {
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

span.c6 {
font-family:'DejaVu Serif',serif;
font-size:.916667rem;
}

span.c2 {
font-size:1em;
}

p.c1 {
font-size:2.166667rem;
}

p.c1 {
font-size:2.166667rem;
}
